<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TFG App</title>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" /> -->
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% block header_map %}
    {% endblock %}
    {% block header_bokeh %}
    {% endblock %}
</head>

<body>
    <section>

        <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('main.index') }}" class="nav-link text-white">
                                Home
                            </a>
                        </li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('main.profile') }}" class="nav-link text-white">
                                Profile
                            </a>
                        </li>
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('map.show_map') }}" class="nav-link text-white">
                                Map
                            </a>
                        </li>
                        {% if not current_user.has_roles(['police']) %}
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('allowed_places.allowed_places_types') }}" class="nav-link text-white">
                                Allowed Places Types
                            </a>
                        </li>
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('statistics.show_statistics') }}" class="nav-link text-white">
                                Statistics
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item ml-4 active">
                            <a href="{{ url_for('news.add_news') }}" class="nav-link text-white">
                                Add news item
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2 mr-4 mt-lg-0">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item mr-4 active">
                            <a href="{{ url_for('auth.logout') }}" class="nav-link text-white">
                                Logout
                            </a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item mr-4 active">
                            <a href="{{ url_for('auth.login') }}" class="nav-link">
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container-fluid text-center">
            {% block content %}
            {% endblock %}
        </div>
    </section>
</body>

</html>