{% extends "base.html" %}

{% block header_map %}
<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.0.6/dist/MarkerCluster.Default.css" />

<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
{% endblock %}

{% block content %}
<div class="d-flex flex-column justify-content-center">
    <p class="mt-5 display-4"> Current location: {{cur_location}}</p>
    <div class="mt-5 align-content-center">
        <div class="map margin-center" id="map"></div>
    </div>
</div>
<script src="https://unpkg.com/leaflet@1.1.0/dist/leaflet-src.js"></script>
<script src="https://unpkg.com/leaflet.markercluster@1.0.6/dist/leaflet.markercluster-src.js"></script>
<script src="https://unpkg.com/leaflet.featuregroup.subgroup"></script>
<script src="{{url_for('static', filename='leaflet-realtime.js')}}"></script>
<script>

    var user_roles = JSON.parse('{{user_roles|safe}}');
    var zoom = '{{zoom}}';
    var map = L.map('map').setView(['{{data["lat"]}}', '{{data["lng"]}}'], zoom);

    L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>',
        maxZoom: 18
    }).addTo(map);

    var url = 'http://90.169.70.108:8080/nearby_devices?lat={{data["lat"]}}&lng={{data["lng"]}}&rad={{data["rad"]}}&type=geojson&mins=5' 

    var device_location_layer = L.realtime(url, {
        interval: 5 * 1000,
        getFeatureId: function(f) {
            return f.properties.id;
        },
        cache: true,
        pointToLayer: function (feature, latlng) {
            return L.marker(latlng, {
                'icon': L.icon({
                    iconUrl: "../static/marker-icon.png",
                    shadowUrl: "../static/marker-shadow.png"
            })
        });
        }
    }).addTo(map);

    var popup = L.popup();

    function onMapClick(e) {
        
        if (user_roles.includes("police")){
            latValue = e.latlng.lat;
            lngValue = e.latlng.lng;
            
            popup
            .setLatLng(e.latlng)
            .setContent('<form id="popup-form" action="{{url_for("map.send_patrol")}}" method="POST">\
                            <input type="hidden" id="lat" name="lat" value='+latValue+'>\
                            <input type="hidden" id="lng" name="lng" value='+lngValue+'>\
                            <button id="button-submit" type="submit">Send patrol</button>\
                        </form>')
            .openOn(map);
        }
    };

    map.on('click', onMapClick);


    L.control.layers(null, {
        'Show devices location': device_location_layer
       
    }).addTo(map);

</script>
    
{% endblock %}